* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:root {
  font-family: "League Spartan", sans-serif;

  background-color: var(--clr-Theme1Verydarkdesaturatedbluemainbackground);
  /* numbers */
  --font-size: 32px;

  /* colors for Backgrounds Theme 1 */
  --clr-Theme1Verydarkdesaturatedbluemainbackground: hsl(222, 26%, 31%);
  --clr-Theme1Verydarkdesaturatedbluetogglebackgroundkeypadbackground: hsl(
    223,
    31%,
    20%
  );
  --clr-Theme1Verydarkdesaturatedbluescreenbackground: hsl(224, 36%, 15%);

  /* colors for Keys */
  --clr-Theme1Desaturateddarkbluekeybackground: #a3b3e2;
  --clr-Theme1Desaturateddarkbluekeyshadow: #414d74;

  --clr-Theme1Redkeybackgroundtoggle: #f96c5c;
  --clr-Theme1Darkredkeyshadow: #902218;

  --clr-Theme1Lightgrayishorangekeybackground: #e9e3db;
  --clr-Theme1Grayishorangekeyshadow: #b3a18e;

  /* colors for text */
  --clr-Theme1Verydarkgrayishblue: #414658;
  --clr-White: hsl(0, 0%, 100%);

  /* colors for Backgrounds Theme 2 */
  --clr-Theme2Lightgraymainbackground: hsl(0, 0%, 90%);
  --clr-Theme2Grayishredtogglebackgroundkeypadbackground: hsl(0, 5%, 81%);
  --clr-Theme2Verylightgrayscreenbackground: hsl(0, 0%, 93%);

  /* colors for Keys */
  --clr-Theme2Darkmoderatecyankeybackground: hsl(185, 42%, 37%);
  --clr-Theme2Verydarkcyankeyshadow: hsl(185, 58%, 25%);

  --clr-Theme2Orangekeybackgroundtoggle: hsl(25, 98%, 40%);
  --clr-Theme2Darkorangekeyshadow: hsl(25, 99%, 27%);

  --clr-Theme2Lightgrayishyellowkeybackground: hsl(45, 7%, 89%);
  --clr-Theme2Darkgrayishorangekeyshadow: hsl(35, 11%, 61%);

  /* colors for text */
  --clr-Theme2Verydarkgrayishyellow: hsl(60, 10%, 19%);

  /* colors for Backgrounds Theme 3 */
  --clr-Theme3Verydarkvioletmainbackground: hsl(268, 75%, 9%);
  --clr-Theme3Verydarkviolettogglebackgroundkeypadbackgroundscreenbackground: hsl(
    268,
    71%,
    12%
  );

  /* colors for Keys */
  --clr-Theme3Darkvioletkeybackground: hsl(281, 89%, 26%);
  --clr-Theme3Vividmagentakeyshadow: hsl(285, 91%, 52%);

  --clr-Theme3Purecyankeybackgroundtoggle: hsl(176, 100%, 44%);
  --clr-Theme3Softcyankeyshadow: hsl(177, 92%, 70%);

  --clr-Theme3Verydarkvioletkeybackground: hsl(268, 47%, 21%);
  --clr-Theme3Darkmagentakeyshadow: hsl(290, 70%, 36%);

  /* colors for text */
  --clr-Theme3Lightyellow: hsl(52, 100%, 62%);
  --clr-Theme3Verydarkblue: hsl(198, 20%, 13%);
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, fr);
  gap: 10px;
  max-width: 320px;
  margin: 0 auto;
}

.output {
  grid-column: span 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: var(--clr-Theme1Verydarkdesaturatedbluescreenbackground);
  color: var(--clr-White);
  padding: 17px;
  border-radius: 7px;
  overflow: hidden;
}

h3 {
  color: var(--clr-White);
}

.buttons {
  background-color: var(
    --clr-Theme1Verydarkdesaturatedbluetogglebackgroundkeypadbackground
  );
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: span 4;
  gap: 13px;
  border-radius: 7px;
  font-size: 22px;
}

button {
  box-shadow: 0px 2px 0px var(--clr-Theme1Grayishorangekeyshadow);
  background-color: var(--clr-Theme1Lightgrayishorangekeybackground);
  padding: 10px;
  border-radius: 7px;
  color: var(--clr-Theme1Verydarkgrayishblue);
}

.button-span-two-red,
.button-span-two-blue {
  grid-column: span 2;
}

.button-span-two-red {
  background-color: var(--clr-Theme1Redkeybackgroundtoggle);
  color: var(--clr-White);
  box-shadow: 0px 2px 0px var(--clr-Theme1Darkredkeyshadow);
}
.button-span-two-blue,
.del {
  background-color: var(--clr-Theme1Desaturateddarkbluekeybackground);
  color: var(--clr-White);
  box-shadow: 0px 2px 0px var(--clr-Theme1Desaturateddarkbluekeyshadow);
}

.current-operand,
.previous-operand {
  font-size: var(--font-size);
  color: var(--clr-White);
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 280px;
}
