:root {
  font-family: 'League Spartan', sans-serif;
   /* numbers */
   --font-size: 32px; 
   background-color: var(--clr-Verydarkdesaturatedbluemainbackground);

  /* colors for Backgrounds Theme 1 */
  --clr-Verydarkdesaturatedbluemainbackground: hsl(222, 26%, 31%);
  --clr-Verydarkdesaturatedbluetogglebackgroundkeypadbackground: hsl(
    223,
    31%,
    20%
  );
  --clr-Verydarkdesaturatedbluescreenbackground: hsl(224, 36%, 15%);

  /* colors for Keys */
  --clr-Desaturateddarkbluekeybackground: hsl(225, 21%, 49%);
  --clr-Desaturateddarkbluekeyshadow: hsl(224, 28%, 35%);

  --clr-Redkeybackgroundtoggle: hsl(6, 63%, 50%);
  --clr-Darkredkeyshadow: hsl(6, 70%, 34%);

  --clr-Lightgrayishorangekeybackground: hsl(30, 25%, 89%);
  --clr-Grayishorangekeyshadow: hsl(28, 16%, 65%);

  /* colors for text */
  --clr-Verydarkgrayishblue: hsl(221, 14%, 31%);
  --clr-White: hsl(0, 0%, 100%);

  /* colors for Backgrounds Theme 2 */
  --clr-Lightgraymainbackground: hsl(0, 0%, 90%);
  --clr-Grayishredtogglebackgroundkeypadbackground: hsl(0, 5%, 81%);
  --clr-Verylightgrayscreenbackground: hsl(0, 0%, 93%);

  /* colors for Keys */
  --clr-Darkmoderatecyankeybackground: hsl(185, 42%, 37%);
  --clr-Verydarkcyankeyshadow: hsl(185, 58%, 25%);

  --clr-Orangekeybackgroundtoggle: hsl(25, 98%, 40%);
  --clr-Darkorangekeyshadow: hsl(25, 99%, 27%);

  --clr-Lightgrayishyellowkeybackground: hsl(45, 7%, 89%);
  --clr-Darkgrayishorangekeyshadow: hsl(35, 11%, 61%);

  /* colors for text */
  --clr-Verydarkgrayishyellow: hsl(60, 10%, 19%);

  /* colors for Backgrounds Theme 3 */
  --clr-Verydarkvioletmainbackground: hsl(268, 75%, 9%);
  --clr-Verydarkviolettogglebackgroundkeypadbackgroundscreenbackground: hsl(
    268,
    71%,
    12%
  );

  /* colors for Keys */
  --clr-Darkvioletkeybackground: hsl(281, 89%, 26%);
  --clr-Vividmagentakeyshadow: hsl(285, 91%, 52%);

  --clr-Purecyankeybackgroundtoggle: hsl(176, 100%, 44%);
  --clr-Softcyankeyshadow: hsl(177, 92%, 70%);

  --clr-Verydarkvioletkeybackground: hsl(268, 47%, 21%);
  --clr-Darkmagentakeyshadow: hsl(290, 70%, 36%);

  /* colors for text */
  --clr-Lightyellow: hsl(52, 100%, 62%);
  --clr-Verydarkblue: hsl(198, 20%, 13%);

 
  

  

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
  }

.output {
  grid-column: span 4;
  display: flex;
  flex-direction: fixed;
  justify-content: end;
  align-items: flex-end;
  background-color: var(--clr-Verydarkdesaturatedbluescreenbackground);
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.previous-operand {
  font-size: var(--font-size);
  color: var(--clr-White);
  text-overflow: ellipsis; /* Show ellipsis (...) if text overflows */
  white-space: nowrap; /* Prevent line breaks */
}

.current-operand {
  font-size: var(--font-size);
  color: var(--clr-White);
  text-overflow: ellipsis; /* Show ellipsis (...) if text overflows */
  white-space: nowrap; /* Prevent line breaks */
  padding: 3px;
  max-width: 280px;

}


button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-Verydarkdesaturatedbluetogglebackgroundkeypadbackground);
  font-size: var(--font-size);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-span-two {
  grid-column: span 2;
}



